{% extends 'music/base.html' %}

{% block content %}

    <div class="page-title">
            <h3>Media</h3>
        </div>
        <form action="#" method="POST" class="mail">
            <p>If you have some offers for us or if you want us visit your city, just write us</p>
            <textarea placeholder="Some text"></textarea>
            <input type="text" placeholder="Some email">
            <input type="submit" value="submit">
            <p>You can also contact us in our social networks. We’ll be glad to see your messages. See you in the circle.</p>
        </form>

{% endblock %}