{% extends 'music/base.html' %}

{% block content %}

    <div class="page-title">
            <h3>Shop</h3>
        </div>
        <div class="shop-top clearfix">
            <div class="categories">
                <span>Categories:</span>
                <button>Music</button>
                <button>Videos</button>
                <button>Merch</button>
                <button>Accesories</button>
                <button>Gifts</button>
            </div>
            <div class="cart">
                <span>Your Cart: </span>
                <span id="quantity">0 items </span><span id="price">0 $</span>
            </div>
        </div>
        <div class="shop-items">
            <article class="shop-item">
                <img src="http://placehold.it/380x380">
                <span>Item Name</span>
                <span>Price</span>
                <button>Buy</button>
            </article>
            <article class="shop-item">
                <img src="http://placehold.it/380x380">
                <span>Item Name</span>
                <span>Price</span>
                <button>Buy</button>
            </article>
            <article class="shop-item">
                <img src="http://placehold.it/380x380">
                <span>Item Name</span>
                <span>Price</span>
                <button>Buy</button>
            </article>
            <article class="shop-item">
                <img src="http://placehold.it/380x380">
                <span>Item Name</span>
                <span>Price</span>
                <button>Buy</button>
            </article>
            <article class="shop-item">
                <img src="http://placehold.it/380x380">
                <span>Item Name</span>
                <span>Price</span>
                <button>Buy</button>
            </article>
        </div>
        <button class="news-load-btn">Load</button>

{% endblock %}