{% extends 'music/base.html' %}

{% block content %}

    <div class="page-title">
            <h3>Tour</h3>
        </div>
        <div class="anounce">
            <p>Next Show
                <br> City Name
                <br> 1.2.2015
            </p>
            <img src="http://placehold.it/400x400">
        </div>
        <p class="other-shows">
            And then
        </p>
        <div class="next-shows">
            <ul>
                <li class="show-info"><span class="show-info-date">1.1.2015, City Name, Arena Name</span><span class="show-info-tickets">1 ticket left. <a href="#">Buy</a></span></li>
                <li class="show-info"><span class="show-info-date">1.1.2015, City Name, Arena Name</span><span class="show-info-tickets">0 tickets left</span></li>
                <li class="show-info"><span class="show-info-date">1.1.2015, City Name, Arena Name</span><span class="show-info-tickets">0 tickets left</span></li>
                <li class="show-info"><span class="show-info-date">1.1.2015, City Name, Arena Name</span><span class="show-info-tickets">0 tickets left</span></li>
                <li class="show-info"><span class="show-info-date">1.1.2015, City Name, Arena Name</span><span class="show-info-tickets">0 tickets left</span></li>
                <li class="show-info"><span class="show-info-date">1.1.2015, City Name, Arena Name</span><span class="show-info-tickets">1 ticket left. <a href="#">Buy</a></span></li>
                <li class="show-info"><span class="show-info-date">1.1.2015, City Name, Arena Name</span><span class="show-info-tickets">0 tickets left</span></li>
                <li class="show-info"><span class="show-info-date">1.1.2015, City Name, Arena Name</span><span class="show-info-tickets">0 tickets left</span></li>
                <li class="show-info"><span class="show-info-date">1.1.2015, City Name, Arena Name</span><span class="show-info-tickets">0 tickets left</span></li>
                <li class="show-info"><span class="show-info-date">1.1.2015, City Name, Arena Name</span><span class="show-info-tickets">0 tickets left</span></li>
            </ul>
        </div>

{% endblock %}